<?php

$def[".igk-col-view-box.igk-service-box"] = "border-left:none !important; border-right:none !important; box-shadow:none;";
$def[".igk-col-view-box.igk-service-box:first-child"] = "border-top:none;";
$def[".igk-col-view-box.igk-service-box:last-child"] = "border-bottom:none;";
?>