<?php
//conf-setting page
$s = ".igk-body.conf-setting .igk-bodybox";
$def[$s]="padding-top:5em";
$def[$s." .header"]=" {sys:posab, loc_t, loc_l} padding:16px;";
$def[$s." .header > a "]=" {sys:dispib}";
$def[$s." .header .igk-font-symbol"]="font-size:24pt;";
$def[$s." .header .igk-section-title"]="display:inline-block; vertical-align:top; transform:translateY(-10px);";


?>