deny from all
Options +ExecCGI
AddHandler cgi-script .cgi .pl

<Files *.cgi>
allow from all
</Files>
<Files *.pl>
allow from all
</Files>

#AddHandler cgi-script cgi pl
#Options +ExecCGI
#SetHandler cgi-script
